*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::selection{
	color: #641aad;
	background-color: white;
}

/*font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Rubik Vinyl', cursive;
font-family: 'Iceland', cursive;
font-family: 'Anek Bangla', sans-serif;*/
html{
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
}
#home{
	max-height: 100%;
	min-width: 100%;
	max-height: 100vh;
	min-height:100vh;
	background-image: url(../test/1624.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,0.444);
	background-blend-mode: overlay;
	position: relative;
	
	
}
.continer{
	width: 100%;
	height:100px;
	
}
#home .logo{
	position:absolute;
	top: 30px;
	left:50px;
	width: 250px;
	font-size: 30px;
	
}
#home .logo p{
	color: white;
	font-family: 'Rubik Vinyl', cursive;
	font-weight:bold;
	word-spacing:10px;
	letter-spacing: 0px;
	text-shadow: 0 0 10px;
	
}
#home .logo p span{
	font-size: 35px;
	cursor: pointer;
	transition: 0.4s;
}
#home .logo p span:hover{
  color:#b06df2;
	text-shadow: 0 0 20px ;
}

.head{
	text-align: center;
	padding-top: 320px;
}
.head h1{
	font-size:70px;
	text-transform: uppercase;
font-family: 'Iceland', cursive;
	word-spacing: 20px;
text-shadow: 0 0 10px white;
	
}
.head p{
	font-family: 'Anek Bangla', sans-serif;
	font-size: 25px;
	word-spacing: 10px;
	margin-top: 10px;
	text-transform: capitalize;
	color: white;
}
.log{
	text-align: center;
	margin-top: 40px;

}
/*
.log a{
	text-decoration: none;
	margin: 0 20px;
	padding: 10px;
	font-size: 20px;
font-family: 'Anek Bangla', sans-serif;
	border: 2px solid rgba(255,255,255,0.22);
	box-shadow: 0 0 20px black;
	border-radius: 30px;
	color: white;
	text-shadow: 0 0 40px black;
	letter-spacing:1px;
	
}
.log a:hover{
	box-shadow: 0 0 30px black;
}
*/
/* nav style */
.nav ul{
	list-style-type: none;
	position:absolute;
	top: 35px;
	right:-550px;
	background-color:rgba(255,255,255,0.211);
	border: 1px solid rgba(255,255,255,0.442);
	border-radius: 20px;
	box-shadow:0 0 30px;
	width: 550px;
	transition: all .7s ease;
	position: fixed;
	z-index: 111;
}
.nav ul li{
	display: inline-block;
	transition: 0.5s;
}
.nav ul li a {
	text-decoration: none;
	margin: 0 20px;
	font-size: 24px;
	font-family: 'Anek Bangla', sans-serif;
	color: white;
	text-shadow: 0 0 20px black;
	transition: 0.4s;
	
}
.nav ul li:hover {
	transform: translateY(-6px);
}
.nav a:hover{
	color:#a45eff;
	text-shadow: 0 0 20px black;
}
#check{
	display: none;
	
	
}
label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	position: fixed;
}
label #btn{
	right:30px;
	top:44px;
	font-size: 30px;
	color: white;
	transition:all .7s;
	z-index: 11111;
}
label #cancel{
	z-index: 1111;
	right:-195px;
	color: white;
	top:44px;
	font-size: 30px;
	transition:all .7s ease;
}
#check:checked ~ .nav ul{
	right:20px;
	position: fixed;
}
#check:checked ~ label #btn{
	right:580px;
	opacity: 0;
	pointer-events: none;
	position: fixed;
}
#check:checked ~ label #cancel{
	top:44px;
	right:44px;
	position: fixed;
}

/* search bar style   */

/*
.search{
	position: absolute;
	right:-550px; 
	top:130px;
	transition: all .7s ease;
}
.search-bar{
	width:100%;
	max-width: 700px;
	display: flex;
	align-items: center;border-radius: 60px;
	background-color:rgba(255,255,255,0.211);
	border: 1px solid rgba(255,255,255,0.442);
	box-shadow: 0 0 30px black;
	padding: 5px ;
}
.search-bar input{
	background:transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding:0 60px;
	font-size:19px;
	color: white;
}
::placeholder{
	color:rgba(255,255,255,0.666)
}
.search-bar button ion-icon {
	width: 25px;
	height: 25px;
}
.search-bar button{
	border: 0;
	background:rgba(255,255,255,0.11);
	cursor: pointer;
	color: white;
	margin-right: 10px;
	width: 35px;
	height: 35px;
	border-radius:50%;
	box-shadow: 0 0 10px black;
	
}
  serach style  

#check-off{
	display: none;
}
label #btn-srch,#cancel-srch{
	position: absolute;
	cursor: pointer;
}

label #btn-srch{
	right:24px;
	top:130px;
	font-size: 40px;
	color: white;
	transition:all .7s;
}
label #cancel-srch{
	z-index: 1111;
	right:-195px;
	color: white;
	top:144px;
	font-size: 22px;
	transition:all .7s ease;
}
#check-off:checked ~ .search{
	right:20px;
}
#check-off:checked ~ label #btn-srch{
	right:450px;
	opacity: 0;
	pointer-events: none;
}
#check-off:checked ~ label #cancel-srch{
	top:144px;
	right:400px;
}
*/

/*  about */
#about{
	max-height: 100%;
	min-width: 100%;
	max-height: 100vh;
	min-height:100vh;
    background: linear-gradient(#19023d
	10%,black);
	/*background:#efefef; */
	padding: 80px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}
#about .photo{
	margin-right: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}
#about .photo img{
	
	width: 450px;
	animation:floatImage 4s ease-in-out infinite;
}
@keyframes  floatImage{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-2.8rem);
	}
	100%{
		transform: translateY(0);
	}
}
/*-------------animation--------*/
   
#cont{
	position:absolute;/* danger*/
	width:100%;
	height: 100vh;
	overflow: hidden;
	
}
.bubbles{
	position: absolute;
	display: flex;

}
.bubbles span{
	position:relative;
	width: 1px;
	height: 1px;
	background: white;
	margin:0 5px;
	border-radius: 50%;
	z-index:1;
	box-shadow: 0 0 0 6px #a4a2a6,
	0 0 50px white,
	0 0 100px white;
	animation: animate 15s linear infinite;
	animation-duration: calc(120s / var(--i))
}
.bubbles span:nth-child(even){
	background: #9b3de3;
	box-shadow: 0 0 0 10px #53068f,
	0 0 50px #9b3de3,
	0 0 100px #9b3de3;
}



@keyframes animate{
	0%{
		transform: translateY(100vh) scale(0)
	}
	100%{
		transform: translateY(-10vh) scale(1)
	}
	
}
/*  about  part 2*/

.about-title{
	text-align: justify;
	width:700px;
	display: flex;
	align-items: center;
	
	
	
}
.about-title .h1{
	
	color: white;
	font-size: 25px;
	/*font-family: 'Anek Bangla', sans-serif;*/
	/*font-family: 'Iceland', cursive;*/
	font-family: 'Rubik Vinyl', cursive;
	word-spacing: 30px;
	text-shadow: 0 0 10px ;
	
}
.about-title .h1 h1 span{
	color:#933beb;
	text-shadow: 0 0 10px;
	
}
.about-title .h1 h1{
	margin-bottom: 30px;
}
.about-title .h1 p{
	font-family: 'Anek Bangla', sans-serif;
	text-shadow: 0 0 20px black;
}








